@model PROBANET.Models.Task
@{
    ViewData["Title"] = @ViewBag.me.Username;
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

<div class="alert alert-warning" role="alert" id="alertDel"></div>
@if (@ViewBag.mes!="")
{
    <div class="alert alert-warning" role="alert"> @ViewBag.mes</div>
}
<div class="table">
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Assigned</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody id= "userTable">
            @foreach(var i in @ViewBag.all)
            {
                
                <form action="/Developer/UpdateTask" method="POST">
                    <input type="hidden" name="indexId" value=@ViewBag.me.Id>
                    <tr>
                        <td>@i.Id
                            <input type="hidden" name="Id" value='@i.Id'>
                    </td>
                    <td style="min-width: 150pt;">
                    
                    <select class="form-control"  name="Status" id="Status" >
                        @if (@i.Status=="New") {
                            <option  selected>new</option>
                        }
                        else
                        {
                            <option >new</option>
                        }
                        @if (@i.Status=="in progress") {
                            <option selected>in progress</option>
                        }
                        else
                        {
                            <option >in progress</option>
                        }
                        @if (@i.Status=="finished") {
                            <option selected>finished</option>
                        }
                        else
                        {
                            <option>finished</option>
                        }

                       
                        </select></td>
                    <td><input type="text" name="Progress" id="Progress" class="form-control-plaintext" value='@i.Progress'></td>
                   <td>
                        
                        <input disabled name="Deadline" id="Deadline" type="date" class="form-control" value="@i.Deadline.Year-@i.Deadline.Month.ToString().PadLeft(2, '0')-@i.Deadline.Day.ToString().PadLeft(2, '0')">
                        
                   </td>
                    <td><input type="text" name="Description" id="Description" class="form-control-plaintext" value='@i.Description'></td>
                    
                    <td style="min-width: fit-content;">
                    <input type="hidden" name="Assigned" id="Assigned" value='@ViewBag.me.Id'>
                    @ViewBag.me.Username
                    </td>
                    <td>@i.ProName
                        <input type="hidden" name="ProId" id="ProId" value='@i.ProId'>
                    </td>
                    <td style="min-width: 150pt;"><input type="button" onclick="deleteTask(@i.Id)" value="Delete" class="btn btn-danger" />
                        <input type="submit" value="Update" class="btn btn-info" /></td>
                    
					
                </tr>
                </form>
            }
            
        </tbody>
    </table>
</div>


<script>
    
    $( document ).ready(function() {
        $("#myForm").hide();
        $("#alert").hide();
        $("#alertDel").hide();
        $('input[type="date"]').attr("min",new Date().toISOString().substr(0, 10));
    });

   
        function deleteTask(id)
        {
         $.ajax(
            {
                type:"Post",
                url: "/Developer/DeleteTask",
                data: {Id : id},
                error: function (response)
                {
                    alert (response);
                },
                success: function(data, status, xhr)
                {
                    if (xhr.status==200)
                    {
                        location.reload();
                    }
                    if (xhr.status==210)
                       { $("#alertDel").text('User is not ready in database'); $("#alert").show();}
                    if (xhr.status==220)
                       { $("#alertDel").text('Error with database');$("#alert").show();}
                        
                    
                }
            }
        );
        }
</script>